:root{
    --primary-color: #72b01d;
    --background-color: #f3eff5;
    --background-secondary-color: #dedbe1;
    --background-terciary-color: #d5d2d9;
    --object-background-color:#6aa61f;
    --object-secondary-background-color: #3f7d20;
    --object-terciary-background-color: #2f5f17;
    --font-color: #0d0a0b;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}
.mid{
    width: 100%;
    margin-top: 125px;
    display: flex;
    justify-content: space-evenly;
}

/*TOP BAR*/
/*#region*/
.top_bar{
    width: 100%;
    min-height: 80px;
    height: 15%;
    max-height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
    background-color: var(--primary-color);
}
.top_bar a{
    width: 100%;
    min-height: 60px;
    height: 75%;
    max-height: 70px;
    margin: 1%;
    padding: 0;
    border-radius: 15px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--object-background-color);
    color: var(--font-color);
    font-size:x-large;
    text-decoration: none ;
    transition-duration: 0.25s;
}
.top_bar a:hover{
    background-color: var(--object-secondary-background-color);
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.top_bar a:active{
    transform: scale(0.9);
    background-color: var(--object-terciary-background-color);
    transition-duration: 0s;
}
/*#endregion*/

/*INFO BLOCK*/
/*#region*/
.info_block{
    margin: 1.25%;
    padding: 2%;
    border-radius: 15px;
    position: static;
    display: block;
    background-color: var(--background-secondary-color);
    color: var(--font-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.info_block hr{
    background-color: var(--background-color);
}
.info_block.small{
    width: 25%;
}
.info_block.medium{
    width: 50%;
}
.info_block.large{
    width: 75%;
}
.info_block.full{
    width: 95%;
}
/*#endregion*/

/*IMG BLOCK*/
/*#region*/
.img_block{
    height: 100%;
    margin: 1.25%;
    padding: 1.25%;
    border-radius: 15px;
    position: static;
    display: block;
    background-color: var(--background-secondary-color);
    color: var(--font-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.img_block hr{
    color: var(--background-color);
}
.img_block h4{
    margin-top: 5px;
}
.img_block #first{
    margin-top: 0px;
}
.img_block p{
    font-size: small;
    margin-top: 2.5px;
}

.img_block.small{
    width: 20%;
}
.img_block.medium{
    width: 30%;
}
.img_block.large{
    width: 60%;
}
.img_block.full{
    width: 90%;
}
.img_block .frame{
    width: 100%;
    border-radius: 15px;
    position: static;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 500;
    background-color: var(--background-terciary-color);
    overflow: hidden;
}
.img_block.small .frame{
    aspect-ratio: 9/16;
} 
.img_block.medium .frame{
    aspect-ratio: 1/1;
}
.img_block.large .frame{
    aspect-ratio: 3/2;
}
.img_block.full .frame{
    aspect-ratio: 16/9;
} 
.img_block .frame img{
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    object-fit: cover;
}
.img_block .frame img:hover{
    transform: scale(1.1);
}
/*#endregion*/

/*VOTE BLOCK*/
/*#region*/
.vote_block{
    width: 12.5%;
    margin: 1.25%;
    padding: 1.25%;
    border-radius: 15px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--background-secondary-color);
    color: var(--font-color);
}
.vote_block h1{
    margin-bottom: 10px;
}
.vote_char_section{
    width: 100%;
    height: 45%;
    margin: 0;
    padding: 1%;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.vote_block button{
    width: 85%;
    height: 61.75%;
    border: none;
    border-radius: 15px;
    background-color: var(--background-secondary-color);
    font-size: xx-large;
    transition-duration: 0.5s;
    cursor: pointer;
}
.vote_block button:hover{
    background-color: var(--background-terciary-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.vote_block button:active{
    transform: scale(0.9);
    background-color: rgba(160, 160, 160,0.5);
    transition-duration: 0s;
}
/*#endregion*/

/*list_page*/
/*#region*/
.list_page{
    width: 90%;
}
/*top_list*/
/*#region*/
.top_list{
    width: 100%;
    height: 25%;
    max-height: 75px;
    margin: 0;
    padding: 1.25%;
    border: none;
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: var(--font-color);
}
.top_list .title{
    font-size: x-large;
}
.top_list .add_delete_update_buttons{
    width: 15%;
    height: 100%;
    border: none;
    border-radius: 15px;
    position: inherit;
    display: flex;
    flex-direction: column;
}
.top_list .add_delete_update_buttons a{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--object-background-color);
    color: var(--font-color);
    font-size: medium;
    text-decoration: none;
    transition-duration: 0.25s;
}
.top_list .add_delete_update_buttons a:hover{
    background-color: var(--object-secondary-background-color);
    color: white;
    cursor: pointer;
}
.top_list .add_delete_update_buttons a:active{
    transform: scale(0.95);
    background-color: var(--object-terciary-background-color);
    transition-duration: 0s;
}
.top_list .add_delete_update_buttons .add{
    border-radius: 15px 15px 0px 0px;
}
.top_list .add_delete_update_buttons .delete{
    border-radius: 0 0 0 0;
}
.top_list .add_delete_update_buttons .update{
    border-radius: 0 0 15px 15px;
}
/*#endregion*/

/*order_list*/
/*#region*/
.order_list{
    width: 100%;
    height: 1%;
    margin: 0;
    padding: 1.25%;
    border: none;
    position: inherit;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: start;
    color: var(--font-color);
}
/*#endregion*/

/*display_list*/
/*#region*/
.display_list{
    width: 100%;
    margin: 0;
    padding: 1.25%;
    border: none;
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
}
/*#endregion*/






/*#endregion*/


/*pag_principal*/
/*#region*/
/*#endregion*/

/*aniadir/eliminar/actualizar subpaginas*/
/*#region*/
.mid.add_delete_update_subpage{
    width: 90%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid.add_delete_update_subpage .char_inputs{
    width: 50%;
    padding: 1.25%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-secondary-color);
}
.mid.add_delete_update_subpage .char_inputs input{
    width: 100%;
    height: 25px;
    font-size: large;
}

.mid.add_delete_update_subpage .char_inputs select{
    width: 100%;
    height: 25px;
    font-size: large;
}
.mid.add_delete_update_subpage button{
    width: 30%;
    min-height: 60px;
    height: 75%;
    max-height: 70px;
    margin: 1%;
    padding: 0;
    border:none;
    border-radius: 15px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--object-background-color);
    color: var(--font-color);
    font-size:xx-large;
    transition-duration: 0.25s;
}
.mid.add_delete_update_subpage button:hover{
    background-color: var(--object-secondary-background-color);
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.mid.add_delete_update_subpage button:active{
    transform: scale(0.8);
    background-color: var(--object-terciary-background-color);
    transition-duration: 0s;
}
/*#endregion*/



/*pag_votar*/
/*#region*/
.char_vote_img{
    width: 100%;
    height: 100%;
    display: inherit;
    justify-content: space-evenly;
}



/*#endregion*/

