/*VARIABLES Y GRAL*/
:root{
    --primary-color: #72b01d;
    --background-color: #f3eff5;
    --background-secondary-color: #dedbe1;
    --background-terciary-color: #d5d2d9;
    --object-background-color:#6aa61f;
    --object-secondary-background-color: #3f7d20;
    --font-color: #0d0a0b;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}
/*TOP BAR PARA TODAS LAS PAGS*/
.top_bar{
    background-color: var(--primary-color);
    display:flex;
    width: 100%;
    height: 20%;
    max-height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.top_bar a{
    background-color: var(--object-background-color);
    width: 25%;
    height: 75%;
    margin: 0.75%;
    border-radius: 15px;
    color: var(--font-color);
    font-size: 150%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.top_bar a:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.24);
    background-color: var(--object-secondary-background-color);
    color: white;
    cursor: pointer;
}
/*PAGINA PRINCIPAL*/
.body_principal_pp{
    display:flex;
    margin-top: 100px;
}
.body_text{
    width: 71.25%;
    border-radius: 1%;
    margin: 1.25%;
    padding: 1.25%;
    background-color: var(--background-secondary-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.body_part{
    color: var(--font-color);
    padding: 1.25%;
}
hr{
    color: var(--background-color);
}
.character_outs{
    background-color: var(--background-secondary-color);
    width: 37.5%;
    margin: 1.25%;
    padding: 1.25%;
    border-radius: 1%;
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.image_char{
    width: 100%;
    height: 40%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 1%;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.character_outs img{
    width: 100%;
    height: 100%;
    transition-duration: 2s;
}
.character_outs img:hover{
    transform: scale(1.1);
}
/*PAGINA VOTAR*/
.body_principal_vt{
    width: 100%;
    height: 100%;
    margin: 1.25%;
    margin-top: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.vote_chars_principal{
    width: 90%;
    height: 100%;
    padding: 1.25%;
    background-color: var(--background-terciary-color);
    border-radius: 2.5%;
    display: flex;
    justify-content: space-evenly;
}
.char{
    width: 30%;
    height: 100%;
    padding: 1.25%;
    background-color: var(--background-secondary-color);
    border-radius: 1.25%;
}
.image_char img{
    width: 100%;
    height: 100%;
    transition-duration: 2s;
}
.char img:hover{
    transform: scale(1.1);
}